.calculator-bottons{
    background-color: teal;
    color:aqua;
    padding: 10px 15px 10px 15px;
    margin: 10px 0px 0px 0px;
}

.calculator-input{
    border-color: black;
    background-color: white;
    color: black;
    text-align: center;
}
.Result-button{
    width: 100px;
    height: 30px;
    background-color: red;
    color: white;
    font-family: sans-serif;
    margin: auto;
    margin-top: 10px;
}

.form-container{
    width: 300px;
    height: auto;
    background-color: darkslategray;
}
.footer-Costum{
    background-color: black;
}
/*Hover Styles*/
.calculator-bottons:hover{
    background-color: coral;
    color:white;
}

/*Active styles*/
.calculator-bottons:active{
    background-color: coral;
    color:white;
}